<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
</head>
<body>
    <h1>Videos enviados</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Video</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>
                <video width="320" height="240" controls>
                    <source src="{{ url_for('static', filename='uploads/' + user.video_filename) }}" type="video/mp4">
                    Tu navegador no soporta la reproducción de videos.
                </video>
                <form action="{{ url_for('delete_video', video_id=user.id) }}" method="POST" style="display: inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    
    <h1>Postulaciones exitosas</h1>
    <ul>
        {% for user in users %}
            <li>
                {{ user.name }} - {{ user.email }}<br>
                <video width="320" height="240" controls>
                    <source src="{{ url_for('static', filename='uploads/' + user.video_filename) }}" type="video/mp4">
                    Tu navegador no soporta la reproducción de videos.
                </video>
                <form action="{{ url_for('delete_video', video_id=user.id) }}" method="POST" style="display: inline;">
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    
</body>
</html>
